.project-section {
  padding-top: 10rem;
}

.project__img-section {
  margin-top: 3rem;
}

// Typography
.project__heading {
  color: white;
  font-size: 3rem;
}

.project__body {
  color: white;
  font-size: 18px;
  font-family: "ttmedium";
}
