@import "base.scss";
@import "./components/header/header.scss";
@import "./components/frontpage/frontpage";
@import "./components/project/project";

// .component {
//   transition: all 0.3s linear;
// }

.component-exited {
  opacity: 0;
  transform: translateY(10rem);
}

.component-entered {
  transform: translateY(0rem);
  opacity: 1 !important;
}

.component-entering {
  animation-name: entering;
  animation-duration: 0.4s;
}
.component-exiting {
  animation-name: exiting;
  animation-duration: 0.4s;
}
@keyframes entering {
<<<<<<< HEAD
  0% {
    transform: translateY(10rem);
  }
=======
  from {
    opacity: 0;
    // transform: translateY(10rem);
  }
  to {
    opacity: 1 !important;
    // transform: translateY(0rem);
  }
}
@keyframes exiting {
  from {
    opacity: 1 !important;
    transform: translateY(0rem);
  }
  to {
    opacity: 0;
    // transform: translateY(10rem);
  }
}

#indexSection,
#projectSection {
  position: absolute;
}

.component-container {
  position: relative;
>>>>>>> b8ca9b39565d0ac46ce8f46e1c39bd73f881fb42
}
